.layout {
    height: 100%;
    .header {
        height: 60px;
        line-height: 60px;
        background: #2b2f3a;
        padding: 0 20px;
        .header-title {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
        }
        .header-info {
            float: right;
            .head-img {
                width: 40px;
                height: 40px;
                vertical-align: middle;
                border-radius: 50%;
                margin-right: 10px;
            }
            .header-username {
                font-size: 16px;
                color: #fff;
                vertical-align: middle;
            }
        }
    }
    .aside {
        background: #304156;
    }
    .main {
        height: 99%;
    }
}